<div id="wrapper-footer">
    <footer id="colophon" class="site-footer container" role="contentinfo">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="row footer-icons">
                    <div class="col-xs-12">
						<a href="index.html"><i class="indbank-logotype footer-logo"></i></a><br>
						<small>&copy; 2020 Independence Bank</small>
                    </div>
                </div>
                <div class="row footer-icons icons-social">
                    <div class="col-xs-12">
                        <a href="https://www.facebook.com/IndependenceBank" class="icon-social" target="_blank">
	                        <i class="indbank-facebook-official" aria-label="Independence Bank Facebook"></i>
	                    </a>
                        <a href="https://twitter.com/1776bank/" class="icon-social" target="_blank">
	                        <i class="indbank-twitter" aria-label="Independence Bank Twitter"></i>
	                    </a>
                        <a href="https://www.instagram.com/1776bank/" class="icon-social" target="_blank">
	                        <i class="indbank-instagram" aria-label="Independence Bank Instagram"></i>
	                    </a>
                        <a href="https://www.youtube.com/channel/UCVjC1jxamThZTx9nsIpj36Q" class="icon-social" target="_blank">
	                        <i class="indbank-youtube-play" aria-label="Independence Bank Youtube"></i>
	                    </a>
                        <a href="https://linkedin.com/company/independence-bank-1776" class="icon-social" target="_blank">
                        	<i class="indbank-linkedin-square" aria-label="Independence Bank LinkedIn"></i>
                        </a>
                        <a href="#" class="icon-social email-signup" data-toggle="modal" data-target="#email-signup-modal" target="_blank">
	                        <i class="indbank-envelope" aria-label="Join our email list"></i>
	                    </a>
                    </div>
                </div>
                                                <div class="row footer-icons">
                    <div class="col-xs-5">
						<i class="indbank-equal-housing-lender" aria-label="Independence Bank is an Equal Housing Lender"></i>
                    </div>
                    <div class="col-xs-6">
	                    <i class="indbank-member-fdic" aria-label="Independence Bank is a member of the Federal Deposit Insurance Corporation (FDIC)"></i>
                    </div>
                </div>
				
				            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-left-menu-container"><ul id="menu-footer-left-menu" class="menu"><li id="menu-item-5571" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-5571"><a href="personal-banking/index.html" aria-current="page">Personal Banking</a>
<ul class="sub-menu">
	<li id="menu-item-5572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5572"><a href="personal-banking/personal-checking/index.html">Personal Checking</a></li>
	<li id="menu-item-5573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5573"><a href="personal-banking/personal-savings/index.html">Personal Savings</a></li>
	<li id="menu-item-5574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5574"><a href="personal-banking/cds/index.html">Certificates of Deposit (CDs)</a></li>
	<li id="menu-item-5575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5575"><a href="personal-banking/money-market/index.html">Money Market</a></li>
	<li id="menu-item-14230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14230"><a href="personal-banking/digital-banking/index.html">Digital Banking</a></li>
	<li id="menu-item-14232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14232"><a href="personal-banking/card-services/index.html">Card Services</a></li>
	<li id="menu-item-14229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14229"><a href="personal-banking/move-your-money/index.html">Move Your Money</a></li>
	<li id="menu-item-5579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5579"><a href="personal-banking/personal-loans/index.html">Personal Loans</a></li>
	<li id="menu-item-5580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5580"><a href="personal-banking/mortgages/index.html">Mortgages</a></li>
	<li id="menu-item-5581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5581"><a href="home-equity/index.html">Home Equity</a></li>
</ul>
</li>
<li id="menu-item-5582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5582"><a href="trust-investments/index.html">Trust &#038; Investments</a>
<ul class="sub-menu">
	<li id="menu-item-5583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5583"><a href="trust-investments/investment-management/index.html">Investment Management</a></li>
	<li id="menu-item-5584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5584"><a href="trust-investments/retirement-planning/index.html">Retirement Planning</a></li>
	<li id="menu-item-5585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5585"><a href="trust-investments/brokerage-services/index.html">Brokerage Services</a></li>
	<li id="menu-item-5586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5586"><a href="trust-investments/iras/index.html">IRAs</a></li>
</ul>
</li>
</ul></div>            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-middle-menu-container"><ul id="menu-footer-middle-menu" class="menu"><li id="menu-item-5587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5587"><a href="business-banking/index.html">Business Banking</a>
<ul class="sub-menu">
	<li id="menu-item-5588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5588"><a href="business-banking/business-checking/index.html">Business Checking</a></li>
	<li id="menu-item-14233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14233"><a href="business-banking/business-digital-banking/index.html">Digital Banking</a></li>
	<li id="menu-item-5590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5590"><a href="business-banking/treasury-management/index.html">Treasury Management</a></li>
	<li id="menu-item-5591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5591"><a href="business-banking/merchant-services/index.html">Merchant Services</a></li>
	<li id="menu-item-5592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5592"><a href="business-banking/small-business-loans/index.html">Small Business Loans</a></li>
	<li id="menu-item-5593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5593"><a href="business-banking/commercial-loans/index.html">Commercial Loans</a></li>
	<li id="menu-item-5594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5594"><a href="business-banking/lines-of-credit/index.html">Lines of Credit</a></li>
	<li id="menu-item-5595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5595"><a href="business-banking/agricultural-loans/index.html">Agricultural Loans</a></li>
</ul>
</li>
<li id="menu-item-5596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5596"><a href="agricultural-services/index.html">Agricultural Services</a>
<ul class="sub-menu">
	<li id="menu-item-5597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5597"><a href="agricultural-services/farm-management/index.html">Farm Management</a></li>
	<li id="menu-item-5599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5599"><a href="agricultural-services/real-estate-loans/index.html">Real Estate Loans</a></li>
	<li id="menu-item-5600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5600"><a href="agricultural-services/equipment-loans/index.html">Equipment Loans</a></li>
</ul>
</li>
</ul></div>            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-right-menu-container"><ul id="menu-footer-right-menu" class="menu"><li id="menu-item-5610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5610"><a href="loststolen-card/index.html">Lost/Stolen Card</a></li>
<li id="menu-item-5603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5603"><a href="contact-us/index.html">Contact Us</a></li>
<li id="menu-item-5602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5602"><a href="locations/index.html">Locations</a></li>
<li id="menu-item-5601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5601"><a href="about-us/index.html">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-8729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8729"><a href="the-revolution-is-growing/index.html">The Revolution is Growing</a></li>
	<li id="menu-item-5605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5605"><a href="careers/index.html">Independence Bank Careers and Employment</a></li>
	<li id="menu-item-5647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5647"><a title="Calendar of Events" href="events/index.html">Calendar of Events</a></li>
	<li id="menu-item-5609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5609"><a href="little-patriots-savings-club/index.html">Little Patriots Savings Club</a></li>
	<li id="menu-item-6228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6228"><a href="information-for-travelers/index.html">Information for Travelers</a></li>
</ul>
</li>
<li id="menu-item-5612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5612"><a href="news/index.html">News</a>
<ul class="sub-menu">
	<li id="menu-item-5611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5611"><a href="media-center/index.html">Media Center</a></li>
</ul>
</li>
<li id="menu-item-5607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5607"><a href="financial-calculators/index.html">Financial Calculators</a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5614"><a href="privacy-policy/index.html">Privacy Policy &#038; Disclosures</a>
<ul class="sub-menu">
	<li id="menu-item-14445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14445"><a href="funds-availability/index.html">Information Regarding Availability of Funds</a></li>
</ul>
</li>
<li id="menu-item-5613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5613"><a href="online-security/index.html">Online Security</a></li>
</ul></div>            </div>
        </div>

    </footer><!-- #colophon -->
</div><!-- wrapper-footer -->