<div id="wrapper-footer">
    <footer id="colophon" class="site-footer container" role="contentinfo">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="row footer-icons">
                    <div class="col-xs-12">
						<a href="index.html"><i class="indbank-logotypeE footer-logo"></i></a><br>
						<small>&copy; 2021 Ritzy Financial</small>
                    </div>
                </div>
        
                                                <div class="row footer-icons">
                    <div class="col-xs-5">
						<i class="indbank-equal-housing-lender" aria-label="Ritzy Financial Group is an Equal Housing Lender"></i>
                    </div>
                    <div class="col-xs-6">
	                    <i class="indbank-member-fdic" aria-label="Ritzy Financial Group is a member of the Federal Deposit Insurance Corporation (FDIC)"></i>
                    </div>
                </div>
				
				            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-left-menu-container"><ul id="menu-footer-left-menu" class="menu"><li id="menu-item-5571" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-5571"><a href="#" aria-current="page">Personal Banking</a>
<ul class="sub-menu">
	<li id="menu-item-5572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5572"><a href="personal-checking">Personal Checking</a></li>
	<li id="menu-item-5573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5573"><a href="personal-savings">Personal Savings</a></li>
	<li id="menu-item-5574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5574"><a href="cds">Certificates of Deposit (CDs)</a></li>
	<li id="menu-item-5575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5575"><a href="money-market">Money Market</a></li>
	<li id="menu-item-14230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14230"><a href="digital-banking">Digital Banking</a></li>
	<li id="menu-item-14232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14232"><a href="card-services">Card Services</a></li>
	<li id="menu-item-14229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14229"><a href="move-your-money">Move Your Money</a></li>
	<li id="menu-item-5579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5579"><a href="personal-loans">Personal Loans</a></li>
	<li id="menu-item-5580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5580"><a href="mortgages">Mortgages</a></li>
	<li id="menu-item-5581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5581"><a href="home-equity">Home Equity</a></li>
</ul>
</li>
<li id="menu-item-5582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5582"><a href="#">Trust &#038; Investments</a>
<ul class="sub-menu">
	<li id="menu-item-5583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5583"><a href="investment-management">Investment Management</a></li>
	<li id="menu-item-5584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5584"><a href="retirement-planning">Retirement Planning</a></li>
	<li id="menu-item-5585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5585"><a href="brokerage-services">Brokerage Services</a></li>
	<li id="menu-item-5586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5586"><a href="iras">IRAs</a></li>
</ul>
</li>
</ul></div>            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-middle-menu-container"><ul id="menu-footer-middle-menu" class="menu"><li id="menu-item-5587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5587"><a href="business-banking">Business Banking</a>
<ul class="sub-menu">
	<li id="menu-item-5588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5588"><a href="business-checking">Business Checking</a></li>
	<li id="menu-item-14233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14233"><a href="business-digital-banking">Digital Banking</a></li>
	<li id="menu-item-5590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5590"><a href="treasury-management">Treasury Management</a></li>
	<li id="menu-item-5591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5591"><a href="merchant-services">Merchant Services</a></li>
	<li id="menu-item-5592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5592"><a href="small-business-loans">Small Business Loans</a></li>
	<li id="menu-item-5593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5593"><a href="commercial-loans">Commercial Loans</a></li>
	<li id="menu-item-5594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5594"><a href="lines-of-credit">Lines of Credit</a></li>
	<li id="menu-item-5595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5595"><a href="agricultural-loans">Agricultural Loans</a></li>
</ul>
</li>
<li id="menu-item-5596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5596"><a href="#">Agricultural Services</a>
<ul class="sub-menu">
	<li id="menu-item-5597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5597"><a href="farm-management">Farm Management</a></li>
	<li id="menu-item-5599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5599"><a href="real-estate-loans">Real Estate Loans</a></li>
	<li id="menu-item-5600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5600"><a href="equipment-loans">Equipment Loans</a></li>
</ul>
</li>
</ul></div>            </div>
            <div class="col-xs-12 col-sm-3 footer-menu">
<div class="menu-footer-right-menu-container"><ul id="menu-footer-right-menu" class="menu">
<li id="menu-item-5603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5603"><a href="contact-us">Contact Us</a></li>
<li id="menu-item-5602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5602"><a href="locations">Locations</a></li>
<li id="menu-item-5601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5601"><a href="about-us">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-5605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5605"><a href="careers">Ritzy Financial Group Careers and Employment</a></li>
</ul>
</li>
<li id="menu-item-5612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5612"><a href="news">News</a>
<ul class="sub-menu">
	<li id="menu-item-5611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5611"><a href="media-center">Media Center</a></li>
</ul>
</li>
<li id="menu-item-5607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5607"><a href="financial-calculators">Financial Calculators</a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5614"><a href="privacy-policy">Privacy Policy &#038; Disclosures</a>
<ul class="sub-menu">
	<li id="menu-item-14445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14445"><a href="funds-availability">Information Regarding Availability of Funds</a></li>
</ul>
</li>
<li id="menu-item-5613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5613"><a href="online-security">Online Security</a></li>
</ul></div>            </div>
        </div>

    </footer><!-- #colophon -->
</div><!-- wrapper-footer -->
