<footer data-footer="" data-hide-for-keyboard="" class="footer re-branding" data-modal-visually-hide=""
    style="touch-action: auto; height: auto; top: 740.5px;">
    <div class="desktop-margin" style="min-width: 600px;">

        <div class="footer-nav footer-loading" style="width: 100%;">



            <ul class="branding">
                <li><span lang="en">Independent Bank Online<sup>®</sup></span></li>
            </ul>
            <ul>
                <li>
                    <a href="javascript:void(0);" data-external-navigation="data-external-navigation"
                        data-display-type="saml"
                        data-url="/transferandpay/exit/saml;identifier=externalSite;destPageId=url.footer.onlineSecurityGurantee;?F=J&amp;_eid=securityguarantee_footer&amp;_x=xXDlu8K9e0erajDv8xiinVikYwcQ1Vsp"
                        style="touch-action: auto;">
                        <span>Online Security Guarantee</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-external-navigation="data-external-navigation"
                        data-display-type="saml"
                        data-url="/transferandpay/exit/saml;identifier=externalSite;destPageId=url.footer.privacyPolicy;?F=J&amp;_eid=privacypolicyURL_footer&amp;_x=9y1Co3pjhafAr9IFpAv18oMBnFJ50gXo"
                        style="touch-action: auto;">
                        <span>Privacy, Cookies, Security &amp; Legal</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-external-navigation="data-external-navigation"
                        data-display-type="saml"
                        data-url="/transferandpay/exit/saml;identifier=externalSite;destPageId=url.footer.adChoices;?F=J&amp;_eid=adChoices_footer&amp;_x=lY8i6V7_oSrW3fP21aErEpbtnV9PPWn9"
                        style="touch-action: auto;">
                        <span>Ad Choices</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li><a data-bev-name="feedback_footer"
                        data-url="https://survey.foreseeresults.com/survey/display?cid=eNAiDg86+jGbkKfGrippJw==&amp;sid=sl-twoquest-en&amp;cpp[segmentid]=COB&amp;cpp[pageid]=me2me-transferMoney&amp;cpp[wfacookie]=11202008162137272025061487&amp;cpp[customerid]=bd1834ef99ac04bf4939d0d9b3da4b10142f937505703d0903fac4af49f996c4&amp;cpp[environment]=Prod&amp;cpp[lang_pref]=en&amp;cpp[search_termM2]="
                        data-force-window="true" data-display-type="browser" class="feedback-link"
                        data-custom-display="foresee" data-confirm-required="confirm-dispatch-foresee" role="button"
                        tabindex="0" style="touch-action: auto;">
                        <span>Feedback</span>
                        <span class="visuallyhidden"> Opens Dialog</span>
                    </a></li>
                <li>
                    <a href="javascript:void(0);" data-external-navigation="data-external-navigation"
                        data-display-type="saml"
                        data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=VIEW_CONTACT_INFO?F=J&amp;_eid=contactus_footer&amp;_x=icLWHsFSNZGIzLmwmEyq2JeGYMr8CFdD"
                        style="touch-action: auto;">
                        <span>Contact Us</span>
                    </a>
                </li>
                <li class="sign-off"><a href="logout">
                        <span>Sign Off</span>
                        <span class="visuallyhidden">opens dialogue</span>
                    </a></li>

            </ul>

        </div>
    </div>
</footer>