<header class="masthead re-branding" id="mwf-banner" role="banner" data-focus-first="" tabindex="-1"
			style="touch-action: auto;" data-modal-visually-hide="true">
			<a id="skiptocontent" href="#skip">Skip to main content</a>

			<nav>

				<div id="mwf-masthead" style="background-color: #cfb890; border-bottom: 4px solid rgb(76, 69, 69);">
					<div class="desktop-margin">
						<div class="wf-logo"><a role="link" tabindex="0" data-display-type="saml"
								data-url="/transferandpay/exit/saml;identifier=accounts?F=J&amp;_eid=accountSummary_moremenu&amp;_x=NjAEsikqm5zHTPcxxMK5S7YrwmcgRcQX"><img style="margin-top: 5px;" src="ind-bank-logo.png" alt="" srcset=""><span c+></span></a>
						</div>

						<!-- profile header row ends -->
					</div>
				</div>
				<div id="mwf-navigation">
					<div class="desktop-margin">
						<!-- White Header Menu Starts -->
						<ul id="mwf-app-nav">
							<li id="mwf-app-nav-brokerage">
								<a href="accountdetails" data-display-type="saml"
									data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=BROKERAGE_XSELL?F=J&amp;_x=kBKgliHQ4A8gtUx4zUGlTmOz3mMxPrZg">
									<span style="display: inline-block;">Account details</span>
								</a>
							</li>
							<li id="mwf-app-nav-brokerage">
								<a href="accountstatement" data-display-type="saml"
									data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=BROKERAGE_XSELL?F=J&amp;_x=kBKgliHQ4A8gtUx4zUGlTmOz3mMxPrZg">
									<span>Account statement</span>
								</a>
							</li>
							<li id="mwf-app-nav-brokerage" style="position: relative;">
								<a href="transfermoney" data-display-type="saml"
									data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=BROKERAGE_XSELL?F=J&amp;_x=kBKgliHQ4A8gtUx4zUGlTmOz3mMxPrZg">
									<span>Make a transfer</span>
								</a>
							</li>
							<li id="mwf-app-nav-brokerage" style="position: relative;">
								<a href="brokerage" data-display-type="saml"
									data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=BROKERAGE_XSELL?F=J&amp;_x=kBKgliHQ4A8gtUx4zUGlTmOz3mMxPrZg">
									<span>Brokerage</span>
								</a>
							</li>
							<li id="mwf-app-nav-brokerage" style="position: relative;">
								<a href="logout" data-display-type="saml"
									data-url="/transferandpay/exit/saml;identifier=servicingapp20;serviceAppDestId=BROKERAGE_XSELL?F=J&amp;_x=kBKgliHQ4A8gtUx4zUGlTmOz3mMxPrZg">
									<span>Sign off</span>
								</a>
							</li>

						</ul>
						<!-- White Header Menu Ends -->
					</div>
				</div>
			</nav>
		</header>