<div id="wrapper-header">
	<header id="masthead" class="site-header" role="banner">	        
		<div class="header-tools">
			<p class="site-title"><a href="/index" rel="home">
				<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="Independence Bank" data-lazy-src="https://www.1776bank.com/wp-content/themes/wheat/img/ind-bank-logo.png"><noscript><img src="/wp-content/themes/wheat/img/ind-bank-logo.png" alt="Independence Bank"></noscript>
			</a></p>
			<div class="site-tools">
				<span>
					<a href="/locations" class="site-tool tool-icon tool-locations hidden-xs">Locations</a>
					<a href="/contact-us" class="site-tool tool-icon tool-contact hidden-xs">Contact</a>
					<div class="desktop-search hidden-xs">
<form role="search" method="get" class="search-form" action="https://www.1776bank.com/">
<label class="screen-reader-text" for="search-388343745">Search for:</label>
<input type="search" class="search-field" id="search-388343745" placeholder="Search &hellip;" name="s" />
<input type="submit" class="search-submit" value="Search" />
</form>
</div>
				</span>
				<span>
					<a href="/login" class="site-tool btn btn-primary btn-login">Log In</a>
					<!-- <a href="https://1776bank.csinufund.com/" class="site-tool btn btn-primary btn-login">Open Account</a> -->
				</span>
			</div>
		</div>
		<div class="site-tools site-tools-mobile visible-xs-block">
			<a href="/locations" class="site-tool tool-icon tool-locations">Locations</a><span class="tool-seperator"> </span>
			<a href="/contact-us" class="site-tool tool-icon tool-contact">Contact</a>
		</div>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<div class="menu-site-header-container container"><ul id="menu-site-header" class="menu"><li id="menu-item-5531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5531"><a href="/personal-banking">Personal Banking</a>
<ul class="sub-menu">
<li id="menu-item-5565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5565"><a href="/personal-banking">Personal Banking Home</a></li>
<li id="menu-item-5523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5523"><a href="#">Personal Services</a>
<ul class="sub-menu">
	<li id="menu-item-5534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5534"><a href="/personal-checking">Personal Checking</a></li>
	<li id="menu-item-5538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5538"><a href="/personal-savings">Personal Savings</a></li>
	<li id="menu-item-5533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5533"><a href="/cds">Certificates of Deposit (CDs)</a></li>
	<li id="menu-item-5536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5536"><a href="/money-market">Money Market</a></li>
	<li id="menu-item-14223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14223"><a href="/digital-banking">Digital Banking</a></li>
	<li id="menu-item-14221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14221"><a href="/card-services">Card Services</a></li>
	<li id="menu-item-14220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14220"><a href="/move-your-money">Move Your Money</a></li>
	<li id="menu-item-13806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13806"><a href="/consumer-credit-cards">Credit Cards</a></li>
</ul>
</li>
<li id="menu-item-5524" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5524"><a href="#">Lending</a>
<ul class="sub-menu">
	<li id="menu-item-5539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5539"><a href="/personal-loans">Personal Loans</a></li>
	<li id="menu-item-5540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5540"><a href="/mortgages">Mortgages</a></li>
	<li id="menu-item-5541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5541"><a href="/home-equity">Home Equity</a></li>
</ul>
</li>
</ul>
</li>
<li id="menu-item-5542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5542"><a href="/trust-investments">Trust &#038; Investments</a>
<ul class="sub-menu">
<li id="menu-item-5567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5567"><a href="/trust-investments">Trust &#038; Investments Home</a></li>
<li id="menu-item-5615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5615"><a href="#">Trust &#038; Investments</a>
<ul class="sub-menu">
	<li id="menu-item-5543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5543"><a href="/investment-management">Investment Management</a></li>
	<li id="menu-item-5544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5544"><a href="/retirement-planning">Retirement Planning</a></li>
	<li id="menu-item-5545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5545"><a href="/brokerage-services">Brokerage Services</a></li>
	<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5569"><a href="/iras">IRAs</a></li>
</ul>
</li>
</ul>
</li>
<li id="menu-item-5546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5546"><a href="/business-banking">Business Banking</a>
<ul class="sub-menu">
<li id="menu-item-5566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5566"><a href="/business-banking">Business Banking Home</a></li>
<li id="menu-item-5525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5525"><a href="#">Business Services</a>
<ul class="sub-menu">
	<li id="menu-item-5547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5547"><a href="/business-checking">Business Checking</a></li>
	<li id="menu-item-14222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14222"><a href="/business-digital-banking">Digital Banking</a></li>
	<li id="menu-item-5549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5549"><a href="/treasury-management">Treasury Management</a></li>
	<li id="menu-item-5550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5550"><a href="/merchant-services">Merchant Services</a></li>
	<li id="menu-item-13807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13807"><a href="/business-credit-cards">Credit Cards</a></li>
</ul>
</li>
<li id="menu-item-5526" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5526"><a href="#">Financing</a>
<ul class="sub-menu">
	<li id="menu-item-5560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5560"><a href="/small-business-loans">Small Business Loans</a></li>
	<li id="menu-item-5561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5561"><a href="/commercial-loans">Commercial Loans</a></li>
	<li id="menu-item-5562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5562"><a href="/lines-of-credit">Lines of Credit</a></li>
	<li id="menu-item-5563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5563"><a href="/agricultural-loans">Agricultural Loans</a></li>
</ul>
</li>
</ul>
</li>
<li id="menu-item-5551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5551"><a href="/agricultural-services">Agricultural Services</a>
<ul class="sub-menu">
<li id="menu-item-5568" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-5568"><a href="/agricultural-services">Agricultural Services Home</a></li>
<li id="menu-item-5673" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-5673"><a href="#">Agricultural Services</a>
<ul class="sub-menu">
	<li id="menu-item-5552" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-85 current_page_item menu-item-5552"><a href="/agricultural-checking" aria-current="page">Agricultural Checking</a></li>
	<li id="menu-item-5556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5556"><a href="/trust-real-estate-planning">Trust &#038; Real Estate Planning</a></li>
	<li id="menu-item-5553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5553"><a href="/operating-lines-of-credit">Operating Lines of Credit</a></li>
</ul>
</li>
<li id="menu-item-6212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6212"><a href="#">Farms</a>
<ul class="sub-menu">
	<li id="menu-item-5555" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5555"><a href="/farm-management">Farm Management</a></li>
</ul>
</li>
<li id="menu-item-5527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5527"><a href="#">Agricultural Lending</a>
<ul class="sub-menu">
	<li id="menu-item-5558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5558"><a href="/real-estate-loans">Real Estate Loans</a></li>
	<li id="menu-item-5559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5559"><a href="/equipment-loans">Equipment Loans</a></li>
</ul>
</li>
</ul>
</li>
<li id="menu-item-5564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5564"><a href="/about-us">About Us</a>
<ul class="sub-menu">
<li id="menu-item-12895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12895"><a href="/about-us">About Us</a></li>
<li id="menu-item-12901" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12901"><a href="#">About Independence Bank</a>
<ul class="sub-menu">
	<li id="menu-item-12907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12907"><a href="/about-us">Our History</a></li>
	<li id="menu-item-12897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12897"><a href="/careers">Careers and Employment</a></li>
	<li id="menu-item-12898" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12898"><a href="/events">Calendar of Events</a></li>
	<li id="menu-item-12906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12906"><a href="/scholarships">Scholarship Program</a></li>
</ul>
</li>
</ul>
</li>
</ul></div>            </nav><!-- #site-navigation -->
		<div class="site-tools mobile-search visible-xs-block">

<form role="search" method="get" class="search-form" action="https://www.1776bank.com/">
<label class="screen-reader-text" for="search-626558693">Search for:</label>
<input type="search" class="search-field" id="search-626558693" placeholder="Search &hellip;" name="s" />
<input type="submit" class="search-submit" value="Search" />
</form>
		</div>
	</header><!-- #masthead -->
</div><!-- #wrapper-header -->