<!DOCTYPE html>
<html class="dk no-js browser-login" lang="en">
<!-- COMMON INCLUDES -->

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title class="browser-title">Independent Bank Advisors - Independent Bank</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=2">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="cleartype" content="on">
	<!-- Tile icon for Win8 (144x144 + tile color)-->
	<meta name="msapplication-TileColor" content="#222222">
	<!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Independent Bank">
	<!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026-->
	<script type="text/javascript" async="" charset="utf-8" id="_cls_detector"
		data-clsconfig="reportURI=https://rubicon.wellsfargo.com/glassbox/reporting/0C458F45-AC71-02CE-34D8-401C8A313B38/cls_report;clientAttributesEnabled=true;clientAttributesMaxLength=150;forceRenderingFixForUA=WFAppName;recordConsoleErrors=true;recordScrolls=true;recordMouseMoves=true;recordErrors=true;recordHovers=true;idleEventTimeInterval=-1;reportInterval=60000;interceptAjax=true;ajaxRecordMetadata=always;ajaxRecordRequestHeaders=always;ajaxRecordResponseHeaders=always;valueMaskingMode=blacklist;maskClassList=pmask;domMaskingMode=blacklist;domMaskContentByClass=pmask;domOmitByClass=check-img-content;domKeepScriptMatching=utag_data;captureGlobalObjects=utag_data"
		src="detector-dom.js"></script>
	<script type="text/javascript" async="" charset="utf-8" id="utag_27" data-vendor="fs" data-mode="selfhost"
		data-environment="production" data-hasssl="true" data-client="wellsfargo"
		data-codelocation="https://static.wellsfargo.com/tracking/survey/code/" data-isselfhosted="true"
		data-product-assets="https://static.wellsfargo.com/tracking/survey/code/" data-role="gateway"
		src="gateway.js"></script>
	<script async="" src="adrum-ext.js"></script>
	<script nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		(function (a, b, c) { if (c in b && b[c]) { var d, e = a.location, f = /^(a|html)$/i; a.addEventListener("click", function (a) { d = a.target; while (!f.test(d.nodeName)) d = d.parentNode; "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href) }, !1) } })(document, window.navigator, "standalone")
	</script>
	<meta name="KONICHIWA1" content="09/13/2020 09:37:21.982 PM PDT">
	<meta name="KONICHIWA2" content="426673647">
	<meta name="KONICHIWA3" content="20df82ec-8e29-4f67-a676-9e768d70758e">
	<!-- TODO - get page name dynamicaly -->
	<meta name="KONICHIWA5" content="accountSummary">
	<meta name="KONICHIWA6" content="7030461629">

	<meta name="KONICHIWA8" content="DEV">
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		if (self === top) {
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		} else {
			top.location = self.location;
		}
	</script>
	<!-- App Dynamics Performance Monitoring -->
	<script nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		(function () {
			window['adrum-start-time'] = new Date().getTime();
			var userInfo = {
				wfacookie: "11202008162137272025061487",
				CustomerSegment: "COB"
			};
			var pageView = {
				userData: userInfo
			};
			function getMeta(metaName) {
				var metas = document.getElementsByTagName('meta');
				var noOFMetas = metas.length;
				var meta;
				for (var i = 0; i < noOFMetas; i++) {
					meta = metas[i];
					if (meta.hasAttribute('name') && meta.getAttribute('name') === metaName) {
						return meta.getAttribute('content');
					}
				}
				return '';
			}
			if (getMeta('KONICHIWA9') === 'true') {
				pageView.userPageName = window.location.pathname + '-Tempest';
			}
			window['adrum-config'] = {
				userEventInfo: {
					"PageView": function (context) {
						return pageView;
					}
				}
			};
			(function (config) {
				config.appKey = "EUM-AAB-AWG";
				config.adrumExtUrlHttp = '/services/static/webassets/20.09.00.17/7P/servicing/js';
				config.adrumExtUrlHttps = '/services/static/webassets/20.09.00.17/7P/servicing/js';
				config.beaconUrlHttps = "https://digital-eum-appdynamics.wellsfargo.com:443";
				config.xd = { enable: false };
				config.xhr = {
					"exclude": {
						"urls": [
							{ pattern: '.*/support/.*' },
							{ pattern: '.*/fragments/.*' },
							{ pattern: '.*/presentedDisposition/.*' },
							{ pattern: '.*/bev/.*' },
							{ pattern: '.*/glassbox/.*' }
						]
					}
				};
			})(window['adrum-config'] || (window['adrum-config'] = {}));
		})();
	</script>
	<script src="adrum-ext_002.js"
		nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4"></script>
	<link rel="stylesheet"
		href="mwf-servicing-combined-mm.css">
	<!-- TOP Level CSS Includes - Don't change the sequence of below CSS includes  -->


	<!-- endbuild-->

	<!-- TOP Level JS Includes - These Js includes should be on TOP of the html page.   -->
	<!-- All other JS dependencies will be at the bottom of the BODY section of the markup.-->

	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="mwf-core-ui-bootstrap"
		src="mwf-core-ui-bootstrap.js"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="https://static.wellsfargo.com/tracking/m2/utag.js"
		src="utag_002.js"></script>
	<script type="text/javascript" async="" charset="utf-8" id="utag_wfc.m2_36"
		src="utag.js"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="mwf-servicing-ui-brokerage-xsell-bootstrap"
		src="mwf-servicing-ui-brokerage-xsell-bootstrap.js"></script>
</head>

<body class="" data-page="brokerage" style="touch-action: auto;" data-user-language="en">
	<p tabindex="-1" id="page-load-focus" class="visuallyhidden" data-accessibility-focus="">Independent Bank Advisors
	</p>

	<!-- HEADER -->
	<!-- 4.17 CSS Global Nav changes starts -->
	<%- include("./partials/innernav.ejs") %>
	<!-- 4.17 CSS Global Nav menu changes ends here -->

	<div class="control-bar row">
		<div class="desktop-margin">
			<div class="control-links column">
				<a href="javascript:void(0);" data-display-type="saml" data-external-navigation=""
					data-ajax-caller="getJSON"
					data-url="/services/exit/saml;identifier=accounts?F=J&amp;_eid=accountSummary_moremenu&amp;_x=v2BE9YolIW0Gb0Qfb1Ezq1XZiayX66uU"
					data-trigger-event="mwfReturnToAccounts" style="touch-action: auto;">
					<i class="icon nav-home"></i>
					Account Summary</a>
			</div>
		</div>

	</div>
	<!-- BODY - Cross Sell  -->
	<main class="page" data-modal-visually-hide="" style="touch-action: auto;">
		<div class="page-content">
			<div class="brokerage-xsell fill-vertical" style="min-height: 599.5px;">
				<div class="screen-container">
					<div class="screen-header">
						<div data-message-container="main" class="message-container"></div>
						<h1>Independent Bank Advisors </h1>
					</div>
					<div class="screen-content">


						<div class="marquee type1 color1">


							<div class="marquee-title">
								<p>Investing in a way that’s right for you</p>
							</div>
							<div class="marquee-subtitle">
								<p>Learn more about investment options to help you meet your investment goals</p>
							</div>
						</div>


						<div class="c60">
							<div class="c60i" style="width: 332px;">
								<h2><em>IndependentTrade</em><sup>®</sup></h2>
								<p>For do-it-yourself investors who prefer to research, trade and make investment
									decisions on their own.</p>
								<ul>
									<li>Gain access to leading investment research and resources and
										powerful online tools,&nbsp; including mutual fund and stock screeners</li>
									<li>Make more of your money work for you with competitive trade pricing&nbsp;</li>
									<li>Easily monitor account activity and performance from your desktop or mobile
										device</li>
								</ul>
								<p><a href="javascript:void(0);" data-display-type="saml" data-link-type="external"
										data-url="/services/selfservice/incontext/destinationURL;identifier=externalSite;?F=J&amp;destinationURL=https%3A%2F%2Fwww.wellsfargo.com%2Finvesting%2Fwellstrade-online-brokerage%2Fopen%2F&amp;_x=yjzfhjN73qvdPi6viUFCzXy2FFm4upCm"
										style="touch-action: auto;"><span class="c13"> Get started with an IndependentTrade
											account</span></a></p>
							</div>

							<div class="c60i" style="width: 332px;">
								<h2><em>Intuitive Investor</em><sup>SM</sup></h2>
								<p>For those who want a mix of smart technology and professional guidance.</p>
								<ul>
									<li>Receive a diverse online portfolio recommendation based on your investing goals
										and risk tolerance</li>
									<li>Rely on ongoing account monitoring&nbsp; and automatic rebalancing of your
										portfolio as needed</li>
									<li>Access a Financial Advisor for advice and help when you want it&nbsp;</li>
								</ul>
								<p><a href="javascript:void(0);" data-display-type="browser" class="samloutbound"
										data-url="/services/exit/saml;identifier=SigFig;?excid=WFA1800032843&amp;cid=WFA1800032843&amp;_x=jTW9vXC5ZvexVHCAAhCPPbckMeVcRhFC"
										style="touch-action: auto;"><span class="c13"> Get started with an Intuitive
											Investor account</span></a></p>
							</div>

							<div class="c60i" style="width: 332px;">
								<h2>Independent Bank Advisors</h2>
								<p>For investors seeking a dedicated Financial Advisor who will work closely with you.
								</p>
								<p>Your personal Financial Advisor will:</p>
								<ul>
									<li>Create and implement a custom investment plan to help you achieve your financial
										goals</li>
									<li>Proactively work with you to manage your account, helping it to stay on track
									</li>
								</ul>
								<p><a href="javascript:void(0);" data-display-type="saml" data-link-type="external"
										data-url="/services/selfservice/incontext/destinationURL;identifier=externalSite;?F=J&amp;destinationURL=https%3A%2F%2Fwww.wellsfargoadvisors.com%2Fservices%2Ffinancial-advisor.htm%3Fintcid%3DWFA1600035597&amp;_x=NLZ1UfynFMyqk7NRshfMvtlC41jFhXNe"
										style="touch-action: auto;"><span class="c13"> Learn about investing with an
											Advisor</span></a></p>
							</div>
						</div>



						<p><strong>No matter which account you choose, you’ll always have</strong>:</p>
						<ul>
							<li>The convenience of easily viewing your brokerage and bank accounts
								with a single sign-on, and the ability to easily transfer funds</li>
							<li>Access to independent research tools, plus expert insights and analysis from Independent
								Bank Investment Institute

							</li>
						</ul>

						<p><strong>Need help?</strong>
							<br>
							Call us at 1-866-243-0931, Monday – Friday 8:30 a.m. – 9:30 p.m. or Saturday 10:30 a.m. –
							7:00 p.m., Eastern Time</p>




					</div>
					<div class="disclosures-container">
						<div class="disclosures-header">
							<h3><i class="icon disclosure-asterisk"></i><span class="visuallyhidden">*</span>Disclosures
							</h3>
						</div>
						<div class="disclosures-content-wrapper">
							<div class="disclosures-content">



								<div class="c20notnot">
									<strong>Investment and Insurance Products are:</strong>
									<ul>
										<li>
											<strong>Not Insured by the FDIC or Any Federal Government Agency</strong>
										</li>
										<li>
											<strong>Not a Deposit or Other Obligation of, or Guaranteed by, the Bank or
												Any Bank Affiliate</strong>
										</li>
										<li>
											<strong>Subject to Investment Risks, Including Possible Loss of the
												Principal Amount Invested</strong>
										</li>
									</ul>
								</div>

							</div>
							<div class="c20body" data-numbered="false" data-cid="tcm:84-159802-16"
								data-ctid="tcm:384-129463-32">
								<p>Independent Bank Advisors is a trade name used by Independent Bank Clearing Services,
									LLC, Member <a data-confirm-required="confirm-dispatch" href="javascript:void(0);"
										data-display-type="saml" data-link-type="external"
										data-url="/services/selfservice/incontext/destinationURL;identifier=externalSite;?F=J&amp;destinationURL=https%3A%2F%2Fwww.sipc.org%2F&amp;_x=IGr5eQagiEF1OOho6Fmkm0UZ3wCCjDVH"
										style="touch-action: auto;"><span>SIPC</span></a>, a registered broker-dealer
									and non-bank affiliate of Independent Bank &amp; Company.</p>
							</div>


							<div class="c20body" data-numbered="false" data-cid="tcm:84-159799-16"
								data-ctid="tcm:384-129463-32">
								<p>Links to third-party websites are provided for your convenience and
									information purposes only. Independent Bank Advisors is not responsible for
									the information contained on third-party websites.</p>
							</div>


							<div class="c20body" data-numbered="false" data-cid="tcm:84-159800-16"
								data-ctid="tcm:384-129463-32">
								<p>Independent Bank Investment Institute, Inc., is a registered investment
									adviser and wholly owned subsidiary of Independent Bank Bank, N.A., a bank
									affiliate of Independent Bank &amp; Company.</p>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer data-footer="" data-hide-for-keyboard="" class="footer re-branding" data-modal-visually-hide=""
		style="touch-action: auto;">
		<div class="desktop-margin">

			<div class="footer-nav footer-loading">



				<ul class="branding">
					<li><span lang="en">Independent Bank Online<sup>®</sup></span></li>
				</ul>
				<ul>
					<li>
						<a href="javascript:void(0);" data-external-navigation="data-external-navigation"
							data-display-type="saml"
							data-url="/services/exit/saml;identifier=externalSite;destPageId=url.footer.onlineSecurityGurantee;?F=J&amp;_eid=securityguarantee_footer&amp;_x=418bnf6HH4nNQ4kjI5ZGA9CxYh_fnb9F&amp;_x=S9NSpF3Od2mXtKmPEuRGiZjidjg6kDRM"
							style="touch-action: auto;">
							<span>Online Security Guarantee</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-external-navigation="data-external-navigation"
							data-display-type="saml"
							data-url="/services/exit/saml;identifier=externalSite;destPageId=url.footer.privacyPolicy;?F=J&amp;_eid=privacypolicyURL_footer&amp;_x=YVS3eZpjf-UN8Q_Abvt9_Lmnv5YSleIc&amp;_x=Ig31DvFjfVEEledke61VM5PCWE3tOor6"
							style="touch-action: auto;">
							<span>Privacy, Cookies, Security &amp; Legal</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-external-navigation="data-external-navigation"
							data-display-type="saml"
							data-url="/services/exit/saml;identifier=externalSite;destPageId=url.footer.adChoices;?F=J&amp;_eid=adChoices_footer&amp;_x=9DFAOesrhACCEuaNN6KuHST3q9zxSI4F&amp;_x=OqKhtEUrgyal7ZTOEkxYem5uY-fyh7M-"
							style="touch-action: auto;">
							<span>Ad Choices</span>
						</a>
					</li>
				</ul>
				<ul>
					<li><a data-bev-name="feedback_footer"
							data-url="https://survey.foreseeresults.com/survey/display?cid=eNAiDg86+jGbkKfGrippJw==&amp;sid=sl-twoquest-en&amp;cpp[segmentid]=COB&amp;cpp[pageid]=brokerage&amp;cpp[wfacookie]=11202008162137272025061487&amp;cpp[customerid]=bd1834ef99ac04bf4939d0d9b3da4b10142f937505703d0903fac4af49f996c4&amp;cpp[environment]=Prod&amp;cpp[lang_pref]=en&amp;cpp[search_termM2]="
							data-force-window="true" data-display-type="browser" class="feedback-link"
							data-custom-display="foresee" data-confirm-required="confirm-dispatch-foresee" role="button"
							tabindex="0" style="touch-action: auto;">
							<span>Feedback</span>
							<span class="visuallyhidden"> Opens Dialog</span>
						</a></li>
					<li>
						<a
							href="https://connect.secure.wellsfargo.com/services/selfservice/contactUs?_x=RIpJLkPIcCqqwUFk7-8lr9jFdQcz7muG&amp;_x=W-TbXTsq2O11OKsdzDNK6h33gUae9Uvx">
							<span>Contact Us</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-external-navigation="data-external-navigation"
							data-display-type="saml"
							data-url="/services/exit/saml;identifier=externalSite;destPageId=locations.link.www.url?F=J&amp;_eid=locations_footer&amp;_x=rtaYrijIuo3JUUVlMl732rLHxzcIGF88&amp;_x=kee88ymXACz9-EjbmRZnZ3EvcojXJ8J_"
							style="touch-action: auto;">
							<span>Locations</span>
						</a>
					</li>
					<li class="sign-off"><a data-signoff="data-signoff" tabindex="0" role="link">
							<span>Sign Off</span>
							<span class="visuallyhidden">opens dialogue</span>
						</a></li>
				</ul>

			</div>
		</div>
	</footer>
	<!--  Global Footer Header -->
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals = window.mwfGlobals || {};
		window.mwfGlobals.buildNumber = "0000.00.00";
		window.mwfGlobals.rootContextPath = "/services";
		window.mwfGlobals.webAssetsPath = "/services/static/webassets/20.09.00.17/7P/";
		window.mwfGlobals.signOffUrl = '/services/logout?_x=6AMZ3exKUWsy1gv-oDFMRNS6nBd7LehE';
		window.mwfGlobals.keepAlivePath = '/services/support/secure/keepalive?_x=yEYQvrSHqDHDsb92DNTh0IwkjTd0w5E4';

		window.mwfGlobals.tealeafUrl = '/services/support/secure/tealeaf?_x=ybSZrN3Pyp8VbfkNHQJpQnVyHSHwW6qT';
		window.mwfGlobals.logLevel = "error";
		window.mwfGlobals.logLevelConsole = "none";
		window.mwfGlobals.sessionTimeoutWarningInterval = "8";
		window.mwfGlobals.sessionTimeoutInterval = "10";
		window.mwfGlobals.sessionTimeoutStart = true;
		window.mwfGlobals.skipHistoryModuleInit = true;
		window.mwfGlobals.deviceInfo = {};
		window.mwfGlobals.deviceInfo.os = "WINDOWSPHONEOS";
		window.mwfGlobals.deviceInfo.osVersion = 'NT 6.1';
		window.mwfGlobals.appEntryFlag = "false";
		window.mwfGlobals.nonce = "";
		window.mwfGlobals.defaultError = "This service is temporarily not available. Please try again later.";
		window.mwfGlobals.defaultExternalType = "externalnoconfirm";
		window.mwfGlobals.wfAppId = "";
		window.mwfGlobals.wfaCookie = '11202008162137272025061487';
		window.mwfGlobals.paymentsHelp = "/support/Help.jsp";
		window.mwfGlobals.dirtyStartUrl = '/services/start/options;da=1?_x=JyP_QvsC5CThmt5Toj981f48iB63RWiq';
		window.mwfGlobals.legacyIpadApp = "false";
		window.mwfGlobals.samlTransferViewBean = '';
		window.mwfGlobals.platformError = "This service is temporarily not available. Please try again later.";



		window.mwfGlobals.customerLOB = "CONS";

		window.mwfGlobals.customerType = 'COB';
		window.mwfGlobals.environment = 'Prod';


		window.mwfGlobals.language = "en";

		window.mwfGlobals.devicePlatform = "7P";
		window.mwfGlobals.enableTealeafSupport = ("true" === "false");

		window.mwfGlobals.backNavigationUrl = "/navigate/back?_x=kFByPKhjwHydnvPvOl85MJip3CV3kpJV";

		window.mwfGlobals.deviceType = "dk";
		window.mwfGlobals.bevUrl = "/trackLinkClick?_x=TSLaECYCyK8kmPaGV1nkkD2qnMJURi80";
		window.mwfGlobals.accountsNavigationUrl = '/services/exit/saml;identifier=accounts;?F=J&_x=lLtu2ufJB8clB9JbdHQmP8Nl_sDoGFK8';
		window.mwfGlobals.pageUrls = {
			"ACCOUNT_SERVICES": '/services/exitHub/hub;destPageId=ACCOUNT_SERVICES?_x=S0SYB8bC46QMWIkMZFGPvOUIxY3s72e2',
			"PROFILE_SETTINGS": '/services/exitHub/hub;destPageId=PROFILE_SETTINGS?_x=L_vKpW4_GEqboJ37MnWoReip09xCsUHc',
			"PLAN_LEARN": '/services/exitHub/hub;destPageId=PLAN_LEARN?_x=GD9ihVldeFyMWwjjCXKwDHVQdtuce0Wk',
			"CONTACT_US": '/services/exitHub/hub;destPageId=CONTACT_US?_x=GDChUMR5mylQlG7PmcTCr8_56YEN7qES',
			"CURRENCY_GIFTS_COPIES": '/services/exitHub/hub;destPageId=CURRENCY_GIFTS_COPIES?_x=TctmPqxe8D5gpb8bQkGQwPoarI9jhNKy',
			"SECURITY_PRIVACY": '/services/exitHub/hub;destPageId=SECURITY_PRIVACY?_x=yxCCc4w-y2VtTXoKIikhZh1aE29URuP5',
			"DELIVERYPREFS": '/services/documents/deliverypreference?_x=fE_1d-B8KRaMec8xGBfl8AXt1Gt68Hp3'
		}

		// Enterprise Search
		window.mwfGlobals.searchPublicUrl = 'https://www.wellsfargo.com/search?';
		window.mwfGlobals.searchSuggestUrl = 'https://www.wellsfargo.com/search/as/suggest';
		window.mwfGlobals.searchTrackingUrl = 'https://www.wellsfargo.com/search/as/click';
		window.mwfGlobals.currentApp = 'services';
		// Site parameter for search

		window.mwfGlobals.searchSite = 'live_secure_common_collection' + '|' + 'live_secure_retail_collection';


		window.mwfGlobals.searchUrl = '/services/enterprisesearch/searchResults?site=live_secure_common_collection%7Clive_secure_retail_collection&_x=6ZNUfF4SMuR-oZMkS3COFB6S2q4oRo7s';


		window.mwfGlobals.searchControlBar = false;

		window.mwfGlobals.foresee = {};
		window.mwfGlobals.foresee.enabled = "true";
		window.mwfGlobals.hashedecn = "bd1834ef99ac04bf4939d0d9b3da4b10142f937505703d0903fac4af49f996c4";
		window.mwfGlobals.solicitReactionShown = "false";
		window.mwfGlobals.solicitReactionShownUrl = "/services/feedback/status?_x=DSQpLCDLNXUTLONqUS3073d77q7Uskm7";
	</script>

	<script
		nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">var require = { waitSeconds: 0 }; var requirejs = { urlArgs: "p=0000.00.00" };</script>

	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		var enableNuanceJS = "false";
		window.mwfGlobals.deviceInfo.deviceExp = "BROWSER";

		window.mwfGlobals.nuanceAppMsgrSwitch = "false";
	</script>

	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals.deviceInfo.deviceExp = "BROWSER";
		window.mwfGlobals.deviceInfo.deviceType = "DESKTOP";
		window.mwfGlobals.utagUrl = 'https://static.wellsfargo.com/tracking/m2/utag.js';

		window.mwfGlobals.tmsSwitch = 'true';

		window.mwfGlobals.enableGlassboxSwitch = "true";


		var utag_data = { app_id: 'M2Servicing', enable_nuance: enableNuanceJS, mpuid: window.mwfGlobals.wfaCookie, tealium_js_path: window.mwfGlobals.utagUrl, page_id: '', page_type: window.mwfGlobals.deviceInfo.deviceExp, device_type: window.mwfGlobals.deviceInfo.deviceType, cust_lob: window.mwfGlobals.customerLOB, customer_type: window.mwfGlobals.customerType, environment: window.mwfGlobals.environment, lang_pref: window.mwfGlobals.language, foresee_enable: window.mwfGlobals.foresee.enabled, hashedECN: window.mwfGlobals.hashedecn, foresee_suppress: 'false', isSolicitReactionShown: window.mwfGlobals.solicitReactionShown, search_term: '', isNativeApp: window.mwfGlobals.appEntryFlag, enable_glassBox: window.mwfGlobals.enableGlassboxSwitch };
	</script>
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals.lastLogonTimeStamp = "Sat Sep 12 14:44:10 PDT 2020";
		window.mwfGlobals.useTPBBimUpdates = true;
	</script>

	<script data-main="/services/static/webassets/20.09.00.17/7P/servicing/js/mwf-core-ui-bootstrap"
		src="requirejs.js"
		data-start="mwf-servicing-ui-brokerage-xsell-bootstrap" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4"></script>
		<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5f5c5ae9f0e7167d000fa4f7/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

</body>

</html>